@model IEnumerable<string>

@Html.ActionLink("Home", "List", "Perfume", null,
    new { @class = "btn btn-block btn-default btn-lg" })

<h3 style="text-align:center"><u>Concentration</u></h3>

@foreach (var link in Model)
{
    @Html.RouteLink(link, new
    {
        controller = "Perfume",
        action = "List",
        concentration = link,
        page = 1
    }, new
    {
        @class = "btn btn-block btn-default btn-lg"
            + (link == ViewBag.SelectedCategory ? " btn-info" : "")
    })
}


