@using PerfumeStore.WebUI.Models
@using PerfumeStore.WebUI.HtmlHelpers
@model PerfumeListViewModel

@{
    ViewBag.Title = "Fragrances";
}

@foreach (var p in @Model.Perfumes)
{
    @Html.Partial("PerfumeSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
    new { page = x, concentration = Model.CurrentConcentration }))
</div>
